server {
    root /home/vagrant/chuy;
    index index.php index.html index.htm;

    server_name chuy.local;
    server_name www.chuy.local;

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php/php5.6-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_read_timeout 3000;
    }
}
